{% extends 'base.html.twig' %}

{% block title %}New PostalAdress{% endblock %}

{% block body %}
    <h1>Create new PostalAdress</h1>

    {{ include('postal_adress/_form.html.twig') }}

    <a href="{{ path('app_postal_adress_index') }}">back to list</a>
{% endblock %}
