<form method="post" action="{{ path('app_camera_roll_paper_size_delete', {'id': camera_roll_paper_size.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ camera_roll_paper_size.id) }}">
    <button class="btn">Delete</button>
</form>
