{% extends 'base.html.twig' %}

{% block title %}Edit CameraRollPaperSize{% endblock %}

{% block body %}
    <h1>Edit CameraRollPaperSize</h1>

    {{ include('camera_roll_paper_size/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_camera_roll_paper_size_index') }}">back to list</a>

    {{ include('camera_roll_paper_size/_delete_form.html.twig') }}
{% endblock %}
