{% extends 'base.html.twig' %}

{% block title %}New CameraRollPaperSize{% endblock %}

{% block body %}
    <h1>Create new CameraRollPaperSize</h1>

    {{ include('camera_roll_paper_size/_form.html.twig') }}

    <a href="{{ path('app_camera_roll_paper_size_index') }}">back to list</a>
{% endblock %}
